#content {
    text-align: center;
    margin-top: calc(100vh / 5);
    position: relative;
    min-height: calc(100vh / 3);
    background-image: url(/images/scoring-board.png?31ffca30eee45ad205114c17d8e50d34);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    color: white;
    font-family: Britannic;
    font-size: 15px;
}

.contentrow {
    color: bisque;
}

#player {
    position: absolute;
    text-align: center;
    margin-left: 10%;
}

#player1 {
    position: absolute;
    min-width: 300px;
    min-height: calc(100vh / 3);
    background-image: url(/images/p10.png?23e640fb549e9672305c2e569df3a9ff);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    margin-left: -10px;
}

#player2 {
    position: absolute;
    min-width: 300px;
    min-height: calc(100vh / 3);
    background-image: url(/images/p20.png?4402bf115fe5258f9a1b62201d54a0c0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}


body {
    background-image: url(/images/stage.png?2e7eea321bee72c16200dd1b099a9c84);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#clickarea {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    position: relative;
}

#start {
    position: absolute;
    margin: auto;
    transform: translate(-50%, -80%);
    border: 0;
    height: 100px;
    width: 200px;
    text-align: center;
    background-image: url(/images/start.png?be4d1a476edc824ef0d3d446bbea62c5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    z-index: 100;
}

#start:hover {
    background-image: url(/images/start-hover.png?0bd8eca0ce14be37f6d5dffa50c0aa43);
}

.coin-show {
    -webkit-animation: falling-down-translate 2s ease-out;
            animation: falling-down-translate 2s ease-out;
}

.coin-hidden {
    display: none;
}

@keyframes falling-down-translate {
    100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100px) rotatey(360deg);
    }
}

@-webkit-keyframes falling-down-translate {
    0% {-webkit-transform: translateY(0px) rotatey(60deg);}
    20% {-webkit-transform: translateY(30px) rotatey(120deg);}
    40% {-webkit-transform: translateY(60px) rotatey(180deg);}
    60% {-webkit-transform: translateY(90px) rotatey(240deg);}
    80% {-webkit-transform: translateY(120px) rotatey(300deg);}
    100% {-webkit-transform: translateY(150px) rotatey(360deg);}
}

